@property --property-name {
  syntax: "<color>";
  inherits: false;
  initial-value: #c0ffee;
}

@keyframes ball-anim {
  from {
    left: 0%;
  }
  50% {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
